# SPDX-FileCopyrightText: 2022 Alembic Pty Ltd
#
# SPDX-License-Identifier: MIT

---
updates:
  - directory: /.devcontainer
    groups:
      dev-dependencies:
        dependency-type: development
      production-dependencies:
        dependency-type: production
    package-ecosystem: docker
    schedule:
      day: thursday
      interval: monthly
  - directory: /
    groups:
      dev-dependencies:
        dependency-type: development
      production-dependencies:
        dependency-type: production
    ignore:
      - dependency-name: assent
    package-ecosystem: mix
    schedule:
      day: thursday
      interval: monthly
    versioning-strategy: lockfile-only
version: 2
