# SPDX-FileCopyrightText: 2022 Alembic Pty Ltd
#
# SPDX-License-Identifier: MIT

name: CI
on:
  push:
    tags:
      - "v*"
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  ash-ci:
    uses: ash-project/ash/.github/workflows/ash-ci.yml@main
    with:
      postgres: true
      doctor: true
      community-files: false
      conventional-commit: true
      tenants: false
    permissions:
      id-token: write
      contents: write
      pages: write
      security-events: write

    secrets:
      hex_api_key: ${{ secrets.HEX_API_KEY }}
